<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MELI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/datatables/datatables.min.css" />

    <link rel="stylesheet" href="~/lib/jquery-UI/jquery-ui.css" />
    <link rel="stylesheet" href="~/lib/jquery-UI/jquery-ui.theme.css" />
    <link rel="stylesheet" href="~/lib/jquery-UI/jquery-ui.structure.css" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/datatables/datatables.min.js"></script>
    <script src="~/lib/jquery/dist/popper.js"></script>
    <script src="~/lib/jquery-UI/jquery-ui.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/index.js" asp-append-version="true"></script>

</head>
<body>
    <header id="navBarID">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Examen MercadoLibre</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid mainBody">
        @RenderBody()
    </div>

    @RenderSection("Scripts", required: false)

    @* -----                                                                                                         LOADING ----- *@
    <div id="loading-div-background">
        <div id="loading-div" class="ui-corner-all">
            <div class="sk-circle">
                <div class="sk-circle1 sk-child"></div>
                <div class="sk-circle2 sk-child"></div>
                <div class="sk-circle3 sk-child"></div>
                <div class="sk-circle4 sk-child"></div>
                <div class="sk-circle5 sk-child"></div>
                <div class="sk-circle6 sk-child"></div>
                <div class="sk-circle7 sk-child"></div>
                <div class="sk-circle8 sk-child"></div>
                <div class="sk-circle9 sk-child"></div>
                <div class="sk-circle10 sk-child"></div>
                <div class="sk-circle11 sk-child"></div>
                <div class="sk-circle12 sk-child"></div>
            </div>
        </div>
    </div>

    <div id="dialog-notificacion" title="NOTIFICACIÓN" class="color-grey" style="display:none;">
        <div class="GRID text-center">
            <div class="row h-100 w-100 justify-content-center">
                <div class="col col-9 centrar">
                    <h3 class="text-center" id="response"></h3>
                </div>
            </div>
            <div class="row h-100 w-100 justify-content-center">
                <div class="col col-6 centrar">
                    <button class="btn btn-dark btn-lg font-weight-bold w-100 h-50" id="closeNotificacion"> CERRAR VENTANA </button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
