@page
@model IndexModel
@{
    ViewData["Title"] = "MercadoLibre Examen Tracking";
}

<div class="leftPanel">
    <div class="panel_1"></div>
    <div class="panel_2"></div>

    @*
    CREAR UN CHECKPOINT 
    ENVIO MULTIPLES CHECKPOINTS
    ACTUALIZAR TABLA 5'
    BORRAR BBDD
    MYSQL*@

</div>

<div class="databasePanel p-1">
    <table class="table table-striped tabla" id="tablaCheckpoint">
        <thead>
            <tr>
                <th>ID</th>
                <th>ESTADO</th>
                <th>SUB-ESTADO</th>
            </tr>
        </thead>
    </table>
</div>