@page
@model IndexModel
@{
    ViewData["Title"] = "MercadoLibre Examen Tracking";
}
@*
    CREAR UN CHECKPOINT --> OK
    ENVIO ACTUALIZACIONES MULTIPLES CHECKPOINTS
    ACTUALIZAR TABLA 5'
    BORRAR BBDD
    MYSQL*@

    <div class="leftPanel">
        <div class="panel_1">

            <div class="GRID">
                <div class="row justify-content-center align-items-end text-center mb-1">
                    <div class="col-9">
                        <h5 class="tableTitle">INGRESAR NUEVO SHIPMENT</h5>
                    </div>
                </div>
                <div class="row justify-content-center align-items-start">
                    <div class="col-3 d-flex justify-content-end align-items-center">
                        <h5 class="text-center text-black-50 m-0 mt-2">ID EVENTO</h5>
                    </div>
                    <div class="col-3 centrar">
                        <input type="text" id="newCheckpoint" class="form-control text-center" />
                    </div>
                    <div class="col-3 centrar">
                        <button class="btn btn-dark w-100" id="btnCrearCheckpoint">CREAR</button>
                    </div>
                </div>
            </div>

        </div>
        <div class="panel_2">
            <div class="flexRow1 ">
                <h5 class="tableTitle">TABLA EVENTOS</h5>
                <table class="table table-striped tabla w-100" id="tablaEventos">
                    <thead class="">
                        <tr>
                            <th>ID</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="flexRow2 dataSelect">

                <select class="form-control selectCustom" id="selectEstado">
                    <option value="Handling">Handling</option>
                    <option value="Ready To Ship">Ready To Ship</option>
                    <option value="Shipped">Shipped</option>
                    <option value="Delivered">Delivered</option>
                    <option value="Not Delivered">Not Delivered</option>
                </select>

                <select class="form-control selectCustom" id="selectSubestado">
                    <option value="Null">Null</option>
                    <option value="Manufacturing">Manufacturing</option>
                </select>

                <button class="btn btn-dark w-100" id="addPendiente">AGREGAR PENDIENTE</button>

            </div>
            <div class="flexRow2">
                <h5 class="tableTitle">TABLA PENDIENTES</h5>
                <table class="table table-striped tabla w-100" id="tablaPendientes">
                    <thead class="">
                        <tr>
                            <th>ID</th>
                            <th>ESTADO</th>
                            <th>SUB-ESTADO</th>
                        </tr>
                    </thead>
                </table>
                <button class="btn btn-dark w-100" id="enviarPendientes">ENVIAR</button>
            </div>
        </div>
    </div>

<div class="databasePanel p-1">
    <h5 class="tableTitle">TABLA CHECKPOINTS</h5>
    <table class="table table-striped tabla w-100" id="tablaCheckpoint">
        <thead class="">
            <tr>
                <th>ID</th>
                <th>ESTADO</th>
                <th>SUB-ESTADO</th>
            </tr>
        </thead>
    </table>
</div>


