@page
@model LoginModel
@{
    ViewData["Title"] = "Login";
}

<form action="/api/user/loginUser" method="post">

    <div class="panelLogin">
        <h3>API Checkpoints</h3>
        <input type="text" name="usuario" id="usuario" class="form-control mb-1" value="usuario" required/>
        <input type="password" name="pass" id="pass" class="form-control mb-2" value="Test001" required/>
        <button type="submit" id="btnLogin" class="btn btn-dark btn-lg">LOGIN</button>
    </div>
    
</form>
